<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Count Page </h1>





    <script>

        var ws = new WebSocket('ws://127.0.0.1:8000/ws/sc/')

        ws.onopen = function (){
            console.log('WebSocket connection open...')

            ws.send('Hi, message from client...')
        }

        ws.onmessage = function (event){
            console.log('Message received from server...', event)
        }

        ws.onerror = function (event){

            console.log('WebSocket error occurred...', event)

        }

        ws.onclose = function (event){
            console.log('Connection closed...', event)
        }

    </script>

</body>
</html>